button {
  padding: 25px;
  margin-top: 1px;
  margin-bottom: 1px;
}

.display {
  margin-bottom: 10px;
  color: white;
  padding: 30px 20px;
  width: 275px;
  margin: 0 auto;
  margin-bottom: 25px;
  background-color: #eedcda;
  background-image: linear-gradient(315deg, #eedcda 0%, #29524a 74%);
}

body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
}

.container {
  border: 1px solid lightgrey;
  margin-left: 515px;
  margin-right: 515px;
  display: grid;
}
/*
.first-row {
  width: 300px;
  justify-content: center;
}

.second-row {
  width: 300px;
  justify-content: center;
}

.third-row {
  width: 300px;
  justify-content: center;
}

.fourth-row {
  width: 300px;
  justify-content: center;
}
*/
